*.o
*~
.depend
build-uno
__pycache__
*.pyc
*.so
*.db
private_ssid_config.h
build
a.out
.cache
.clangd
screenlog.0

delme
*.pdf
*.png

Cargo.lock
.dart_tool
.vscode

*frb_generated*

**/lib/src/rust
.flutter*
pubspec.lock