[Unit]
Description=Hamster Server Service
After=multi-user.target
AllowIsolate=yes

[Service]
Type=oneshot
WorkingDirectory=/opt/hamster-server
ExecStart=/opt/hamster-server/start_server.sh &> /opt/hamster-server/start_server.service.log
Restart=no
Environment=

[Install]
WantedBy=custom.target


